.container{
  text-align: center;
}
.btn{
  appearance: none;
  background-color: #555555;
  border: 0;
  border-radius: 0.25em;
  color: white;
  font-family: inherit;
  font-size: 1.25rem;
  margin: 0 0.5rem;
  outline: none;
  padding: 0.5em 1em;
  user-select: none;
  align-items: center;
  /* &:hover {
    background-color: #333333;
    cursor: pointer;
  } */
}

